.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skill {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 19%;
	height: 100%;
}

.skill .label {
	font-weight: 700;
	min-width: 50px;
	text-align: center;
	padding: 10px 0;
}

@media (max-width: 500px) {
	.skill {
    width: 18%;
		padding-bottom: 10px;
  }
  .skill .label {
		display: none;
	}
}
