html {
  scroll-behavior: smooth;
}
  
body {
  background: rgb(30, 30, 30);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 1.25;
}

h1 {
  font-size: 80px;
  font-family: 'Merryweather', serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

a {
  color: inherit;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 0 auto;
  padding: 20px;
}


.wrapper.fw {
  max-width: 100%;
}

section {
  padding-bottom: 40px;
}

.section--alt {
  background: #fff;
  color: rgb(30, 30, 30);
}